

<div id="categories" class="col-3">
    later
</div>

<div class="col-9">
    <h4>Первая страница интернет-магазина</h4>

    <a asp-controller="Catalog" asp-action="Index" 
       class="btn btn-outline-secondary mb-2">Перейти в каталог</a>
</div>


