@page

<h4>Страница из модуля админки</h4>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
        Обратно
    </a>
    <a asp-page="/BasePage" class="btn btn-outline-secondary">
        Страница базовая
    </a>
    <a asp-page="/SharedPage" class="btn btn-outline-secondary">
        Страница общая
    </a>
</div>