@page

<h4>Тестовая страница с новостными постами</h4>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
        Обратно
    </a>
    <a asp-page="/CatalogPage" class="btn btn-outline-secondary">
        Страница каталога товаров
    </a>
    <a asp-page="/OrderPage" class="btn btn-outline-secondary">
        Страница заказов
    </a>
    <a asp-page="/SharedPage" class="btn btn-outline-secondary">
        Страница общая
    </a>
</div>

