@model CatalogListViewModel

<div id="categories" class="col-3">
    <vc:navigation-menu category="@Model.CurrentCategory" />
</div>

<div class="col-9">
    <h4>Каталог товаров интернет-магазина товаров</h4>

    <a asp-controller="Home" asp-action="Index"
       class="btn btn-outline-secondary mb-2">Обратно</a>

    @foreach (var product in Model.Products)
    {
        <partial name="Partial/ProductCardPartial" model="product"/>
    }

    <div page-model="@Model.PagingInfo" page-action="Index" class="btn-group m-1"
         page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"></div>
</div>

